{
  	"extends": "./node_modules/eslint-config-airbnb/.eslintrc",
    "env": {
      "browser": true,
      "node": true,
      "mocha": true
    },
  	"ecmaFeatures": {
      	"forOf": true,
      	"jsx": true,
      	"es6": true
  	},
  	"rules": {
  		"comma-dangle": 0,
  		"react/prop-types": 0
  	}
}
