@import '../../containers/App/colors.css';

.linkWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: space-between;
}

.linkRepo {
  height: 100%;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  width: 100%;
}

.linkIssues {
  color: var(--color-primary);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.issueIcon {
  fill: var(--color-primary-light);
  margin-right: 0.25em;
}
