/*This file contains all application-wide CSS variables.*/

$text-font-stack: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;

$text-color: #222;
$brand-color: #087B98;
$light-brand-color: #3C93A9;
$light-grey: #EDEDED;
$mid-grey: #999;
$dark-grey: #444;

$max-width: 968px;
