.reactProgressBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: visible;
  opacity: 1;
  transition: all 400ms;
  z-index: 9999;
}

.reactProgressBar.reactProgressBarHide {
  opacity: 0;
  visibility: hidden;
  z-index: -10;
}

.reactProgressBarPercent {
  height: 2px;
  background: #29D;
  transition: all 200ms ease;
}
