.link {
	color: #222222;
}

.btn {
	background-color: skyblue;
	padding: 0.5em;
	color: #FEFEFE;
	border-radius: 3px;
	text-decoration: none;
}

.label {
	display: block;
	width: 100%;
	margin: 1em 0;
}

.input {
	margin-left: 0.5em;
	border-radius: 2px;
	border-width: 1px;
	border-color: grey;
	padding: 0.3em;
}
