.textSection {
    margin: 3em auto;
}

.textSection:first-child {
    margin-top: 0;
}

:global(p) {
    font-family: Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5em;
}

.list {
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding-left: 1.75em;
}

.listItem {
    margin: 1em 0;
}

.link {
    text-decoration: none;
}

.code {
    font-size: 0.75em;
    background-color: $very-light-grey;
    padding: 0.125em 0.5em;
    border-radius: 1px;
}
